body {
    background-color: #25282b;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body a {
    color: #85c2e0;
    text-decoration: underline;
}

body a:hover {
    filter: brightness(117.5%);
}

h1, h2, h3, h4 {
    font-weight: 800;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

code, .resource > div > p > code {
   color: #d68f8f;
   font-variant-ligatures: none;
   font-weight: 600;
   padding: 3px 5px;
}

.hero {
    background-blend-mode: darken;
    background-color: rgba(51, 63, 103, 0.4);
    background-image: url("/GodotSteam-SteamMultiplayerPeer-Example-3D.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 124px 0 60px;
    text-align: center;
}

.hero h1 {
    text-shadow: 0 0 28px rgba(0, 0, 0, .5);
}

.button {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: 800;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.button-primary-wrapper {
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    max-width: 360px;
    margin: 50px auto 0;
    text-decoration: none ;
}

.button-primary {
    color: #000;
    padding: 1rem 2rem;
}

.button-secondary-wrapper {
    background-color: rgba(129, 129, 129, .666);
    border-radius: 1rem;
    display: flex;
    max-width: 360px;
    margin: 50px auto 0;
    text-decoration: none ;
}

.button-secondary {
    color: #fff;
    padding: 1rem 2rem;
}

.button-hint {
    background-color: #4d9fdc;
    border-radius: 0 1rem 1rem 0;
    color: #fff;
}

.card {
    background-color: #333639;
    padding: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.features-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 240px));
    grid-auto-rows: min-content;
    gap: 20px;
    grid-auto-flow: row;
    justify-content: center;
    padding: 1rem;
}

.feature {
    background-color: #333f67e6;
    border-radius: 1rem;
    color: #fff;
}

.feature > h4, .feature > p {
    padding: 0.5rem 1rem;
}

.resource {
    align-items: center;
    display: flex;
    color: #fff;
    gap: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.resource > img {
    border-radius: 1rem;
    height: 144px;
    object-fit: cover;
    object-position: center;
    width: 256px;
}

.resource > div > p {
    color: #888888;
}

footer {
    background-color: #111;
    color: #888888;
    padding: 1rem;
}
